html {
  font-size: 10px;
  font-family: "Poppins", Arial, sans-serif;
}

.notes-container {
  max-width: 80%;
  width: 100%;
  margin: 30px auto 0;
  border: 1px solid #ddbea9;
  border-radius: 20px;
}